<p id="announcements-title"> Announcements </p>
<div id="announcements"></div>

{% if user_is_admin %}
<a id="add-announcement" class="button" href="#">Add New Announcement</a>
<div class="dialog" id="add-announcement-modal" title="Add New announcement">
    <label for="announcement-message">Message</label>
    <textarea id="announcement-message" name="announcement-message"></textarea>
    <label  for="announcement-region">Region</label>
    <select type="text" id="announcement-region" name="announcement-region">
        <option value="">All</option>
    </select>
</div>
{% endif %}

<script type="text/javascript">
  $(document).ready(function(){
    {% if user_is_admin %}
    stashboard.fillAnnouncements(true);
    {% else %}
    stashboard.fillAnnouncements(false);
    {% endif %}
  });
</script>
