{% extends "base.html" %}

{% block js_end %}
    <script type="text/javascript">
      $(document).ready(function(){
        stashboard.startDate = new Date("{{start_date|date:"Y/n/j"}}")
        stashboard.endDate = new Date("{{end_date|date:"Y/n/j"}}"); 
        stashboard.historySize = {{history_size}}
        stashboard.fillIndex();
        {% if user_is_admin %}
        stashboard.adminRegionTabs();
        {% endif %}
      });
    </script>
{% endblock %}

{% block content %}

      <div id="webservices" class="frame">

        {% if user_is_admin %}
          <div>
              <p>Drag Region Tabs to Reorder</p>
          </div>
        {% endif %}
          <div id="tabs">
              <ul>
              {% for region in regions %}
                <li><a href="#region">{{region.name}}</a></li>
              {% endfor %}
              </ul>
          </div>

          {# fake out a tab container #}
          <div id="region"></div>

          <table id="service-list">
            <thead>
              <tr>
                <th>Service</th>
                <th class="today">Current</th>
              </tr>
            </thead>

            <tbody class="services-body">
            </tbody>
          </table>
        
        {% if user_is_admin %}
          <a id="add-service" class="button" href="#">Add New Service</a>
          <a id="add-region" class="button" href="#">Add New Region</a>
        {% endif %}
        
        <br/> <br/>

        {% include "_announcements.html" %}
        {% include "_legend.html" %}
        
      </div>
      
      {% if user_is_admin %}
      
      <div class="dialog" id="add-service-modal" title="Add New Service">
        <label  for="service-name">Name</label>
        <input type="text" id="service-name"name="service-name">
        <label  for="service-region">Region</label>
        <select type="text" id="service-region" name="service-region"></select>
        <label for="service-description">Description</label>
        <textarea
          id="service-description" name="service-description"></textarea>
      </div>

      <div class="dialog" id="add-region-modal" title="Add New Region">
        <label  for="region-name">Name</label>
        <input type="text" id="region-name"name="region-name">
      </div>
      
      {% endif %}
      
      
{% endblock %}

